@import "../../../breakpoints";

#arrowAnim {
  height: 10vh;
  width: 10vw;
  max-width: 50px;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
}

.arrow {
  width: 50%;
  height: 50%;
  border: 1.5vw solid;
  border-color: var(--secondary-color) transparent transparent
    var(--secondary-color);
  transform: rotate(-45deg);
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
  animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(15vw);
  }
  20% {
    opacity: 1;
    transform: translateX(9vw);
  }
  80% {
    opacity: 1;
    transform: translateX(9vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-15vw);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  20% {
    opacity: 1;
    transform: translateX(18px);
  }
  80% {
    opacity: 1;
    transform: translateX(-18px);
  }
  100% {
    opacity: 0;
    transform: translateX(-30px);
  }
}

@media (min-width: $sm) and (max-width: $md) {
  .arrow {
    border-width: 0.8vw;
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .arrow {
    border-width: 0.6vw;
  }
}

@media (min-width: $lg) and (max-width: $xl) {
  .arrow {
    border-width: 0.5vw;
  }
}

@media (min-width: $xl) and (max-width: $xxl) {
  .arrow {
    border-width: 0.4vw;
  }
}

@media (min-width: $xxl) {
  .arrow {
    border-width: 0.35vw;
  }
}
