.image-wrapper {
  padding-bottom: max(275px, 100%);
  width: max(275px, 100%);
  position: relative;
  border-radius: 2rem;
  border: 5px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.025);
  outline: 8px solid rgba(0, 0, 0, 0.06);
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2rem;
  left: 0;
  top: 0;
}
