.image-fadeIn {
  animation: fadeIn 1s 1.1s both;
}

.text-fadeIn {
  animation: fadeIn 800ms 1.3s both;
}

.animation-darken {
  animation: darken 300ms 700ms both;
}

@keyframes darken {
  0% {
    background-color: white;
  }
  100% {
    background-color: #212529;
  }
}
