.adress-animation {
  animation: fadeIn 1s 1s both;
}

.adress-text-animation {
  animation: fadeIn 1s both;
}

@for $i from 0 through 4 {
  .delay-#{$i} {
    animation-delay: calc($i * 50ms + 2000ms);
  }
}
