.custom-grid {
  margin: 0 auto;
  width: 60vw;
  height: 45vw;
  grid-template-areas:
    "web snowboard snowboard fitness"
    "web crypto self-improvement fitness"
    "programming programming self-improvement math";
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;

  & > * {
    border: 1px solid black;
  }

  .grid-1 {
    grid-area: web;
  }
  .grid-2 {
    grid-area: snowboard;
  }
  .grid-3 {
    grid-area: fitness;
  }
  .grid-4 {
    grid-area: crypto;
  }
  .grid-5 {
    grid-area: self-improvement;
  }
  .grid-6 {
    grid-area: programming;
  }
  .grid-7 {
    grid-area: math;
  }
}

.grid-fadeIn {
  animation: fadeIn 600ms both ease-in;
}
